div {
    border: 2px solid gray;
    padding: 5px;
    width: 410px;

}

.div1 {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    background-image: url("/imagens/avatar.png");
    background-size: 200px;
}

.div2 {
    display: block;
    width: 200px;
    height: 100px;
    font-size: 17px;
    border: 1px solid red;
}

.div3 {
    display: block;
    width: 400px;
    height: 100px;
    border: 1px solid red;
}

.div4 {
    display: block;
    width: 400px;
    height: 100px;
    border: 1px solid red;
    margin-top: 5px;
}

.div5 {
    display: block;
    width: 400px;
    height: 100px;
    border: 1px solid red;
    margin-top: 5px;
}

.div6 {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}